.grass {
  background-color: #f6fffd;
}

.wall {
  background-color: #000000;
}


.playerDown {
  background-image: url("down.movement.png");
  background-size: cover;
}

.playerRight {
  background-image: url("right.movement.png");
  background-size: cover;
}

.playerUp {
  background-image: url("up.movement.png");
  background-size: cover;
}

.playerLeft {
  background-image: url("left.movement.png");
  background-size: cover;
}

.goal {
  background-color: #4b70b0;
}

.wholeMaze {
  display: flex;
}

body{
  display: flex;
  justify-content: center;
}
.wholeMaze{
  display: flex;
  flex-direction: column;

}

.row{
  display: flex;
  flex-direction: row;
  div{
	width: 15px;
	height: 15px;
  }
}

.success{
  background-color: #a8a62f;
}

