.grass {

}

.wall {
  background-image: url("wall.png");
  background-size: cover;
}


.playerDown {
  background-image: url("down.movement.png");
  background-size: cover;
}

.playerRight {
  background-image: url("right.movement.png");
  background-size: cover;
}

.playerUp {
  background-image: url("up.movement.png");
  background-size: cover;
}

.playerLeft {
  background-image: url("left.movement.png");
  background-size: cover;
}

.goal {
  background-color: #4b70b0;
}


body {
  display: flex;
  justify-content: center;
}

#whole-maze {
  display: flex;
  flex-direction: column;
  background-color: #d2cccd;

  &.l0 {
	.row {
	  div {
		width: 50px;
		height: 50px;
	  }
	}
  }

  &.l1 {
	.row {
	  div {
		width: 26px;
		height: 26px;
	  }
	}
  }

  &.l2 {
	.row {
	  div {
		width: 19px;
		height: 19px;
	  }
	}
  }

  &.l3 {
	.row {
	  div {
		width: 15px;
		height: 15px;
	  }
	}
  }

  &.l4 {
	.row {
	  div {
		width: 12px;
		height: 12px;
	  }
	}
  }

  &.l5 {
	.row {
	  div {
		width: 19px;
		height: 19px;
	  }
	}
  }
}

.row {
  display: flex;
  flex-direction: row;
}




body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

#menu {
  width: 100%;
  height: 120px;
  margin: 0 0 100px 0;
  font-weight: bold;
  color: white;
  font-size: 80px;
  text-align: center;

  &.lmenu0 {
    background-color: #88da61;
  }
  &.lmenu1 {
    background-color: #dad85c;
  }
  &.lmenu2 {
    background-color: #da8767;
  }
  &.lmenu3 {
    background-color: #da6fb7;
  }
  &.lmenu4 {
    background-color: #6967da;
  }

}

.invisible {
  background-color: white;
}

#components{
  height: 60px;
  display: flex;
  justify-content: center;
}

.components0{
  width: 550px;
  div#timer{
	margin-right: 230px;
  }
  div#lives{
	margin-left: 230px;
  }

}
.components1{
  width: 650px;
  div#timer{
	margin-right: 250px;
  }
  div#lives{
	margin-left: 250px;
  }
}
.components2{
  width: 665px;
}
.components3{
  width: 660px;
}
.components4{
  width: 660px;
}

#timer{
}

#lives{

}

#popUp{
  position: fixed;
  top: 42%;
  left: 37%;
  width: 495px;
  height: 300px;
  background-color: blue;
  border-radius: 8px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
